.idea
db.sqlite3

adedonha/__pycache__
adedonha/settings.py

principal/__pycache__
principal/migrations

dados/__pycache__
dados/migrations

jogo/__pycache__
jogo/migrations

contas/__pycache__
contas/migrations


