<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Title -->
    <title>{% block title %}Adedonha{% endblock %}</title>

    <!-- Arquivos CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'principal/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'principal/css/master.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {% block styles %}{% endblock %}
</head>

<body>

<div class="jumbotron text-center">
    <h1>ADEDONHA</h1>
</div>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <b>Adedonha</b>
    </a>
    <button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Inicio</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <div>
                    {{ user.username }}
                </div>
            </li>
            <li class="nav-item">
                <div><a href="/accounts/logout"><i class="material-icons large">power_settings_new</i></a></div>
            </li>
            {% else %}
            <li class="nav-item">
                <div><a href="/accounts/login" class="btn btn-primary" type="button">Login</a></div>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row justify-content-md-center">
        <!-- Conteúdo do site -->
        {% block conteudo %}{% endblock %}
    </div>
</div>
<br><br>
<div class="jumbotron text-center">
</div>

<!-- Scripts .js -->
<script src="{% static 'principal/js/jquery.min.js' %}"></script>
<script src="{% static 'principal/js/bootstrap.min.js' %}"></script>
{% block scripts %}{% endblock %}
</body>
</html>
