<!-- Estendemos do template base -->
{% extends "layouts/base.html" %}
{% load static %}
{% load bootstrap4 %}

<!-- Bloco que define o <title></title> da nossa página -->
{% block title %}ADEDONHA{% endblock %}

<!-- Bloco de conteúdo da nossa página -->
{% block conteudo %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    <h4>Dados das Palavras</h4>
                </div>
                <div class="card-body">
                    {% buttons %}
                    <a href="dados/palavras" class="btn btn-primary btn-block">Palavras</a>
                    <a href="dados/tipos" class="btn btn-primary btn-block">Tipos</a>
                    {% endbuttons %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
