<!-- Estendemos do template base -->
{% extends "layouts/base.html" %}
{% load static %}
{% load bootstrap4 %}

<!-- Bloco que define o <title></title> da nossa página -->
{% block title %}Novo jogo{% endblock %}

<!-- Bloco de conteúdo da nossa página -->
{% block conteudo %}
<div class="col-sm-4">
    <div class="card">
        <div class="card-header">
            <h4>Iniciar um Jogo</h4>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}

                {% buttons %}
                <button class="btn btn-primary btn-block">Criar novo jogo</button>
                <a href="/" class="btn btn-outline-primary btn-block">Voltar</a>
                {% endbuttons %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
