<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADEDONHA</title>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css.css">
</head>
<body>
    <div class="jumbotron text-center">
        <h1>ADEDONHA</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div	class="container">
                    <div class="card mb-3">
                        <div	class="card-header">
                            Tipo e Letra
                        </div>
                        <div	class="card-body">
                            <form>
                                <input	type="search">
                                <button><img	src="inserir.png" alt="Inserir"></button>
                            </form>
                        </div><!--	fim	.card-body	-->
                        <div	class="card-body">
                            <form>
                                <ol>
                                    <li>Primeiro	item	da	lista</li>
                                    <li>Segundo	item	da	lista</li>
                                    <li>Terceiro	item	da	lista</li>
                                    <li>Quarto	item	da	lista</li>
                                    <li>Quinto	item	da	lista</li>
                                </ol>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>