<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADEDONHA</title>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css.css">
</head>
<body>





        <div class="sidebar" role="navigation">
  <!-- Close button (mobile devices) -->
  <div class="sidebar__close">
    <img src="//portaldoalunoead.uniasselvi.com.br/ava/assets/img/close.svg" alt="Clique para fechar o menu">
  </div>
  <!-- Sidebar user -->
  <div class="sidebar__logo">
    <!-- Sidebar user avatar -->
    <div class="sidebar-logo__avatar">
    <a href="//portaldoalunoead.uniasselvi.com.br/ava" class="link-principal" title="Clique para acessar a página principal"></a>
      <img src="//portaldoalunoead.uniasselvi.com.br/ava/assets/img/uniasselvi-w.png" alt="Logotipo Portal do Aluno EAD - Uniasselvi">
    </div>
  </div>
  <!-- Sidebar nav -->
  <nav id="menu">
    <ul class="sidebar__nav">

<li class="sidebar-nav__dropdown" aria-expanded="false" role="list">
  <a href="#"><i class="fa fa-user"></i> ACADÊMICO <i class="fa fa-angle-down"></i></a>
    <ul class="sidebar-nav__submenu" role="listitem" style="display:block;" aria-expanded="true">
      <li  class="active">
         <a href="//portaldoalunoead.uniasselvi.com.br/ava/minhas_disciplinas/minha_disciplina.php"   target="_self" ><i class="fa fa-graduation-cap"></i> Minhas disciplinas</a>
      </li>
      <li >
         <a href="//portaldoalunoead.uniasselvi.com.br/ava/canal_atendimento/requerimento_base/ead_inclusao_disciplina/inclusao_disciplina.php"   target="_self" ><i class="fa fa-graduation-cap"></i> Ajuste de disciplina</a>
      </li>
      <li >
         <a href="//portaldoalunoead.uniasselvi.com.br/ava/avaliacao/avaliacao_lista.php"   target="_self" ><i class="fa fa-file-text-o"></i> Notas e Avaliações</a>
      </li>
      <li >
         <a href="//portaldoalunoead.uniasselvi.com.br/ava/meu_curso/meu_curso.php"   target="_self" ><i class="fa fa-graduation-cap"></i> Meu Curso</a>
      </li>
      <li >
         <a href="//portaldoalunoead.uniasselvi.com.br/ava/calendario/calendario.php"   target="_self" ><i class="fa fa-calendar"></i> Calendário Acadêmico</a>
      </li>
      <li >
         <a href="//portaldoalunoead.uniasselvi.com.br/ava/atividade_complementar/atividade_complementar.php"   target="_self" ><i class="fa fa-plus-square"></i> Atividade Complementar</a>
      </li>
      <li >
         <a href="//portaldoalunoead.uniasselvi.com.br/ava/producao_academica/producao_academica.php"   target="_self" ><i class="fa fa-briefcase"></i> Produção Acadêmica</a>
      </li>
      <li >
         <a href="//portaldoalunoead.uniasselvi.com.br/ava/enade/enade.php"   target="_self" ><i class="fa fa-university"></i> ENADE</a>
      </li>
      <li >
         <a href="//portaldoalunoead.uniasselvi.com.br/ava/avaliacao_institucional/avaliacao_institucional.php"   target="_self" ><i class="fa fa-area-chart"></i> Avaliação Institucional</a>
      </li>
      <li >
         <a href="//portaldoalunoead.uniasselvi.com.br/ava/formatura/formatura.php"   target="_self" ><i class="fa fa-graduation-cap"></i> Formatura</a>
      </li>
      <li >
         <a href="//portaldoalunoead.uniasselvi.com.br/ava/carreiras/carreira.php"   target="_self" ><i class="fa fa-briefcase"></i> Estágios / Empregos</a>
      </li>

    </ul>
</li>

    </ul>
  </nav>
</div>












    <div class="jumbotron text-center">
        <h1>ADEDONHA</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div	class="container">
                    <div class="card mb-3">
                        <div	class="card-header">
                            Participantes
                        </div>
                        <div	class="card-body">
                            <form>
                                <input	type="search">
                                <button><img	src="inserir.png" alt="Inserir"></button>
                            </form>
                        </div><!--	fim	.card-body	-->
                        <div	class="card-body">
                            <form>
                                <ol>
                                    <li>Primeiro	item	da	lista</li>
                                    <li>Segundo	item	da	lista</li>
                                    <li>Terceiro	item	da	lista</li>
                                    <li>Quarto	item	da	lista</li>
                                    <li>Quinto	item	da	lista</li>
                                </ol>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>