<!-- Estendemos do template base -->
{% extends "principal/_layouts/base.html" %}
{% load widget_tweaks %}
{% load static %}
<!-- Bloco que define o <title></title> da nossa página -->
{% block title %}Z3 COMUNICAÇÃO{% endblock %}

<!-- Bloco de conteúdo da nossa página -->
{% block conteudo %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-40 col-md-12 col-sm-6 col-xs-24">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}

                         <div class="input-group mb-3">
                            <table class="table">
                                <thead class="thead-dark">
                                <tr>
                                    <th class="text-center" scope="col">Tipo</th>
                                    <th class="text-center" scope="col">Nome</th>
                                    <th class="text-center" scope="col">letra</th>
                                    <th class="text-center" scope="col">Ação</th>
                                </tr>
                                </thead>
                                <tr>
                                    <th>{% render_field form.tipo class+="form-control" %}</th>
                                    <th id="nome">{% render_field form.nome style="text-transform:uppercase" class+="form-control" %}</th>
                                    <th>{% render_field form.letra class+="form-control" %}</th>
                                    <th class="text-center"><button class="btn btn-primary">Inserir</button></th>
                                </tr>
                            </table>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
