<!-- Estendemos do template base -->
{% extends "principal/_layouts/base.html" %}
{% load widget_tweaks %}
{% load static %}

<!-- Bloco que define o <title></title> da nossa página -->
{% block title %}ADEDONHA{% endblock %}

<!-- Bloco de conteúdo da nossa página -->
{% block conteudo %}
<div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div	class="container">
                    <div class="card mb-3">
                        <div	class="card-header">
                            {{tipo}} com letra {{letra}}
                        </div>
                        <form method="post">
                            {% csrf_token %}
                            <div class="card-body" align="center">
                                <div class="table">
                                    <td>{% render_field form.palavra type="button" class="btn btn-primary btn-sm btn-block" %}</td>
                                </div>
                                <div id="div_tempo" class="card-body">
                                    <input id="tempo" type="button">
                                </div>
                                <div class="card-body">
                                    <button class="btn btn-outline-danger">DESCONFIO!</button>
                                </div>
                            </div>
                        </form>

                                <div id="div_teclado">
                                <input id="letraA" type="button" class="btn btn-outline-info" value="A" onclick="inserir(this.value);">
                                <input id="letraB" type="button" class="btn btn-outline-info" value="B" onclick="inserir(this.value);">
                                <input id="letraC" type="button" class="btn btn-outline-info" value="C" onclick="inserir(this.value);">
                                <input id="letraD" type="button" class="btn btn-outline-info" value="D" onclick="inserir(this.value);">
                                <input id="letraE" type="button" class="btn btn-outline-info" value="E" onclick="inserir(this.value);">
                                <input id="letraF" type="button" class="btn btn-outline-info" value="F" onclick="inserir(this.value);">
                                <input id="letraG" type="button" class="btn btn-outline-info" value="G" onclick="inserir(this.value);">
                                <input id="letraH" type="button" class="btn btn-outline-info" value="H" onclick="inserir(this.value);">
                                <input id="letraI" type="button" class="btn btn-outline-info" value="I" onclick="inserir(this.value);">
                                <input id="letraJ" type="button" class="btn btn-outline-info" value="J" onclick="inserir(this.value);">
                                <input id="letraK" type="button" class="btn btn-outline-info" value="K" onclick="inserir(this.value);">
                                <input id="letraL" type="button" class="btn btn-outline-info" value="L" onclick="inserir(this.value);">
                                <input id="letraM" type="button" class="btn btn-outline-info" value="M" onclick="inserir(this.value);">
                                <input id="letraN" type="button" class="btn btn-outline-info" value="N" onclick="inserir(this.value);">
                                <input id="letraO" type="button" class="btn btn-outline-info" value="O" onclick="inserir(this.value);">
                                <input id="letraP" type="button" class="btn btn-outline-info" value="P" onclick="inserir(this.value);">
                                <input id="letraQ" type="button" class="btn btn-outline-info" value="Q" onclick="inserir(this.value);">
                                <input id="letraR" type="button" class="btn btn-outline-info" value="R" onclick="inserir(this.value);">
                                <input id="letraS" type="button" class="btn btn-outline-info" value="S" onclick="inserir(this.value);">
                                <input id="letraT" type="button" class="btn btn-outline-info" value="T" onclick="inserir(this.value);">
                                <input id="letraU" type="button" class="btn btn-outline-info" value="U" onclick="inserir(this.value);">
                                <input id="letraV" type="button" class="btn btn-outline-info" value="V" onclick="inserir(this.value);">
                                <input id="letraX" type="button" class="btn btn-outline-info" value="X" onclick="inserir(this.value);">
                                <input id="letraW" type="button" class="btn btn-outline-info" value="W" onclick="inserir(this.value);">
                                <input id="letraY" type="button" class="btn btn-outline-info" value="Y" onclick="inserir(this.value);">
                                <input id="letraZ" type="button" class="btn btn-outline-info" value="Z" onclick="inserir(this.value);">
                                <input id="espaco" type="button" class="btn btn-outline-info" value="ESPAÇO" onclick="inserir(this.value);">
                                <script	language="JavaScript" src="{% static 'principal/js/jogo.js' %}"></script>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
