<!-- Estendemos do template base -->
{% extends "principal/_layouts/base.html" %}
{% load widget_tweaks %}
{% load static %}

<!-- Bloco que define o <title></title> da nossa página -->
{% block title %}ADEDONHA{% endblock %}

<!-- Bloco de conteúdo da nossa página -->
{% block conteudo %}
<div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div	class="container">
                    <div class="card mb-3">
                        <form method="post">
                            {% csrf_token %}
                            <div	class="card-header">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text">Cod. do Jogo:</label>
                                        {% render_field form.jogo value=jogo class+="form-control" readonly="true" %}
                                    </div>
                                </div>
                                <div	class="card-header">
                                    Selecionar TIPO e LETRA
                                </div>
                            </div>
                            <div	class="card-body">
                                <table class="table">
                                    <tr>
                                        <td><label  for="tipo">Tipo: </label></td>
                                        <td id="tipo">{% render_field form.tipo class+="form-control" %}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="card-body" align="center">
                                {% render_field form.letra value="--" class+="form-control" %}

                                <a id="selecionar" type="button" class="btn btn-outline-danger">RODAR</a>
                                <script	language="JavaScript" src="{% static 'principal/js/roleta.js' %}"></script>
                                <button class="btn btn-outline-primary">COMEÇAR</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
